body {
  background-color: 3A4454;
}
h1 {
  color: C2B2B4;
font-family: verdana;
}
h2 {
  color: 6B849E;
font-family: courier;
}
h3 {
  color: 6B849E;
font-family: courier;
}
p {
  color: 6B849E;
font-family: courier;
}
img {
  border: 7px solid #6B4E71;
}